<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>DatabaseServlet</servlet-name>
        <servlet-class>com.servlet.DatabaseServlet</servlet-class>

        <!-- Database connection parameters -->
        <init-param>
            <param-name>dbUsername</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbUrl</param-name>
            <param-value>jdbc:mysql://localhost:3306/NewJDBC</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>DatabaseServlet</servlet-name>
        <url-pattern>/DatabaseServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>20</session-timeout> <!-- In minutes -->
    </session-config>

</web-app>
